:root{
	--var-font-color: #3fa402;
	--var-chat-height: 200px;
}

body {
	background-color: black;
	font-family: sans-serif;
}


.app {
	color: var(--var-font-color);
	text-align: center;
}

.app__chat {
	margin: 0 auto;

	max-width: 500px;
}

.app__status--offline {
	color: red;
}

.chat {

}

.chat__messages {
	height: var(--var-chat-height);
	max-height: var(--var-chat-height);
	overflow-y: auto;
}

.chat__input {
	border: 2px solid var(--var-font-color);
	border-radius: 3px;
}

.chat__input input {
	display: inline-block;

	padding: 10px;
	margin: 10px 0;

	background-color: transparent;
	border: none;

	color: var(--var-font-color);
	font-weight: bold;

	font-size: 20px;
}

.message {
	display: inline-block;
}